*{
   
   /* box-sizing: border-box;  */
}

body{
 background-color: rgb(237, 242, 250);
 /* padding: 1px; */
}

main{
    background-color: white;
    width: 650px;
    height: 470px;
    border: 1px solid black;
    /* div ortalama */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: auto; */
    border-radius: 5%;
  
}

/* left part */

.stepdiv{
    width: 270px;
    height: 430px;
   background-image: url(./img/bg-sidebar-desktop.svg);
   background-position: center center;
   margin-left: 15px;
   margin-bottom: 10px;
   border-radius: 5%;
   position: absolute;
   top: 50%;
   left: 20%;
   transform: translate(-50%,-50%);
}

main .stepdiv ul{
    color: white;
}


/* personal info */
.info{
    /* border: 1px solid red; */
}